<script type="text/javascript">
    function showPassword() {
    
        var key_attr = $('#key').attr('type');
        
        if(key_attr != 'text') {
            
            $('.checkbox').addClass('show');
            $('#key').attr('type', 'text');
            
        } else {
            
            $('.checkbox').removeClass('show');
            $('#key').attr('type', 'password');
            
        }
        
    }
    $(document).ready(function(){
        $('#numExpediente').mask('000000-00-00-00000000');
        $('#numExpRec').mask('000000-00-00-00000000');
    });
</script>
<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Entrar con Número de Expediente y Password</h1>
                    <form role="form" action="/login" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="numExpediente" class="sr-only">Número Expediente</label>
                            <input type="text" name="numExpediente" id="numExpediente" class="form-control" placeholder="xxxxxx-xx-xx-xxxxxx">
                        </div>
                        <div class="input-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="Password">
                                <span class="input-group-addon btn span-button" onclick="showPassword()">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </span>
                            </input>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Entrar">
                    </form>
                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Olvidó su contraseña?</a>
                    <hr>
        	    </div>
    		</div>
    	</div> 
    </div>
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Cerrar</span>
				</button>
				<h4 class="modal-title">Recuperar contraseña</h4>
			</div>
			<div class="modal-body">
				<p>Número de expediente</p>
				<input type="text" name="numExpRec" id="numExpRec" class="form-control" autocomplete="off" placeholder="xxxxxx-xx-xx-xxxxxx">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-custom">Recuperar</button>
			</div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->