<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h2>404 Página no encontrada</h2>
                <div class="error-details">
                    La página que está buscando no se ha encontrado
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-custom btn-lg"><span class="glyphicon glyphicon-home"></span> Inicio </a>
                </div>
            </div>
        </div>
    </div>
</div>