body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*    --------------------------------------------------
	:: Navbar color
	-------------------------------------------------- */
.navbar-custom{
	background-color: #009999 !important;
	color: #fff !important;
}
.navbar-custom a{
    background-color: #009999 !important;
	color: #fff !important;
}
.navbar-custom ul{
    background-color: #009999 !important;
	color: #fff !important;	
}
.navbar-custom ul:hover{
    filter: brightness(92%);
}
.navbar-custom li:hover{
    filter: brightness(92%);
}
.navbar-custom a:active{
    filter: brightness(92%);
}
.navbar-custom a:visited{
    filter: brightness(92%);
}


/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #009999;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .input-group{
	margin-bottom: 25px;	
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #009999;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
	outline: 0;
	border: none;
	-moz-outline-style: none;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.input-group-addon {
	background-color: #fff !important;
}
.input-group-addon:hover {
	background-color: #eee !important;
}
.btn-custom {
    color: #fff;
	background-color: #009999;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    position: fixed;
    left: 0;
    bottom: 25px;
    width: 100%;
    color: #6d6d6d;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

/*
    --------------------------------------------------------
    :: Alertd
    --------------------------------------------------------
*/
.alert {
  margin-bottom: 1px;
  margin: 0px 15px;
  height: 34px;
  line-height:34px;
  padding:0px 2px;
}
